*{


box-sizing: border-box;
}

body{
margin: 0;

scroll-behavior: auto;

}

header .firstelement{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgb(39, 39, 39);

}


.texto1{
font-size: 8px;
margin-top: 0;
color: aliceblue

}

.lang {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
font-size: 8px;
color: aliceblue
}

.lang .dot {
  position: absolute;
  top: 1px;
  right: 0;
  width: 6px;
  height: 6px;
  background-color:red;
  border-radius: 50%;
  content: "";


}


header .biker{
display: grid;
grid-template-columns: 1fr 2fr;
background-color: rgb(80, 80, 80);
}
.bikerh{
color: aliceblue;
font-size: 40px;
margin-top: 0px;
margin-bottom: 5px;
}

header .container{
display: flex;
justify-content: flex-end;

}

header .box1{
display: flex;
flex-direction: row;
justify-content: flex-end;

}
#icono1{
background-color: rgba(45, 40, 40, 0.425);
margin-left: -4px;
padding-bottom: 11px;
}



.links{
color:white;
font-size: 7px;
padding-right: 2px;
}

header .box2{
display: flex;
flex-direction: row;
justify-content: flex-end;


}

.size{
width: 22vw;
background-color: #1d1d1d;
margin: 0px;
 border: none;
  padding: 3px;
  margin: 0;
  box-shadow: none;  
} 



.icono-busqueda {
  background-color: rgb(118, 108, 98); /* color de fondo */
  padding: 9px 3px;              /* espacio interno */
  color:   #1d1d1d;       /* color del ícono */       /* forma circular */
  font-size: 14px;   
      /* tamaño del ícono */
}

.carrito {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}
.icono-compra {

  margin: 0;
  color: honeydew; /* o el que tú necesites */
  /* background-color: rgb(38, 38, 38);
color: honeydew;
padding: 10px 5px;
position: relative;
 
  border: none;
  cursor: pointer; */

}
.badge{
position: absolute;
transform: translate(-2px , -5px);
  background-color: red;       /* Fondo rojo */
  color: white;                /* Número blanco */
  font-size: 10px;             /* Súper pequeño */
  padding: 2px 3px;            /* Espaciado interno */
  border-radius: 50%;          /* Hace que sea redonda */             /* Tamaño mínimo para que sea circular */
  text-align: center;
  line-height: 1;
  font-weight: bold;
}


.price{

font-size: 0px;
padding-left: 8px;
margin-left: 5px;
color: white;

}

.dotprice{
  position: absolute;
  top: 1px;
  right: 0;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  content: "";

}

#precio {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
font-size: 10px;
color: white;
}



.category-menu {
  background-color: #1d1d1d; /* fondo oscuro */
  padding: 10px 0;
}

.category-menu ul {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
font-size: 7px;
}

.category-menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  transition: color 0.3s, border-bottom 0.3s;
}

.category-menu li a:hover {
  color: #ff3333;
  border-bottom: 2px solid #ff3333;
}

section .containerboximg{
display: grid;


}

section .imagen1{
  height: 40vh;
  background-image: 
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('./carpetamotos/41MuZZpRrxL.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
flex-direction: row;
  padding-left: 5%;
  color: white;
  font-family: Arial, sans-serif;
}

.img_kwa {
  font-size: 4rem;
 /* espacio vertical reducido */
  font-family: Arial, sans-serif;
  color: white;
  line-height: 0.5;
}

.img_kwa span {
  font-weight: normal;
  font-size: 2.5rem; /* si quieres hacerlo un poco más pequeño */
}

#sizetexto{
  font-size: 10px;
  margin-top: -55px;  /* 🔥 Acerca el texto a "arrivals" */
  color: white;
  font-family: Arial, sans-serif;
}

section .imagen2{
display: flex;
flex-direction: row;
background-image: url(./carpetamotos/man-is-riding-a-dirt-bike-through-a-cloud-of-dust-concept-of-excitement-and-adrenaline-as-the-rider-navigates-the-challenging-terrain-free-photo.jpg);
background-size: cover;
height: 40vh;
width: 100%;
background-position: center;
align-items: flex-end;
color: white;
padding-left: 10px ;
}

.tamaño{
font-size: 10px;
color: #ff3333;
}

.seccion-categorias {
  display: flex;
  justify-content: space-between;
  gap: 0;
  padding: 1rem;
  background-color: #111;
  box-sizing: border-box;
flex-wrap: wrap; 
max-height: 150px;
}

.categoria {
  flex: 1 1 30%;  /* ocupar 30% del ancho y ajustar en pantallas pequeñas */
  max-width: 32%;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
 
}

.triangulo{
position: relative;
width: 0;
height: 0;
border-bottom: 50px solid rgb(68, 61, 53);
border-right: 50px solid transparent;
top: -50px;
}
.color{
position: absolute;
top: 90px;
left: -5px;
border-radius: 50%;
border-color:rgb(68, 61, 53);;
background-color:rgb(68, 61, 53);
}



.categoria img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  display: block;
  filter: brightness(60%);
  
}

.categoria h3 {
  position: absolute;
  top: 45px;
  left: 45%;
  transform: translateX(-50%);
  font-size: 0.7rem;
  word-spacing: 0px;
  text-shadow: rgba(22, 21, 21, 0);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  text-transform: capitalize;
  width: 90%;
  margin: 0;
  text-align: left;

}
.title h2{
color: whitesmoke;
text-transform: capitalize;
text-shadow: #1d1d1d;
margin-top: 0px;


}


.productos{
background-color: #111;

}
.containerproductos{
display: grid;
grid-template-columns: repeat(2, 1fr);
max-width: 100%;
overflow-y: hidden;
margin-left: 30px;


}
.desproducts1 {
  display: flex;
margin-left: -40px;
margin-top: -30px;  
justify-content: center;
align-items: center;



}

.product-card {
 width:30vw;
  background-color:#111;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  

}

.product-card img {
  width: 100%;
  border-radius: 5px;

}

.estilos {
padding: 4px;
  text-align: left;
background-color: rgb(220, 55, 69);
margin-top: -5px;
border-radius: 5px;

}

.estilos p {
  color: white;
  font-size: 10px;
}

.precio {
  font-weight: bold;
  color: #e60000;
font-size: 15px;
}
.producttexto{
color: aliceblue;
font-size: 8px;
}
#colorspan{
color: red;

}

.desproducts2 {
  display: flex; 
margin-left: -40px;
margin-top: -30px; 
justify-content: center;
align-items: center;

}


.desproducts3 {
  display: flex; 
margin-left: -40px;
margin-top: -30px; 
justify-content: center;
align-items: center;
}


.desproducts4 {
  display: flex; 
margin-left: -40px;
margin-top: -30px; 
justify-content: center;
align-items: center;
}

footer {
  background-color: #111;
  color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.footer-section {
 
 
}
 .color{
color: rgb(44, 44, 44);

}
.center{
text-align: centera;
}

.footer-section h4 {
  color: #fff;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
line-height: 5px;
font-size: 10px;
}

.footer-section li {
  margin: 0.5rem 0;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
  color: #fff;
}

/* .footer-section-new input{
width: 90px;

} */



.footerfollow{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5px;
box-sizing: border-box;
overflow: hidden;
margin-right: 5px;
}
.social-media {
  display: flex;
flex-direction: column;
  gap: 0px;
margin-bottom:0px ;
}

.sizeimg{
width: 15px;
height: 15px;
position: absolute;
margin-left: -20px;

}

.sizeimga{
width: 15px;
height: 15px;
background-color: #ccc;
}
.follow-icon{
margin-top: -15px;
margin-bottom: 10px;
}

.center{
  color: #ccc;
  text-decoration: none;
position: relative;
margin-left: 20px;
font-size: 10px;
}

.tec{
font-size: 5px;
color: rgb(44, 44, 44, 1);

}


 @media screen and (min-width: 400px) and (max-width: 599px){


    header .biker{
display: grid;
grid-template-columns: 1fr 2fr;
background-color: rgb(80, 80, 80);
}
.bikerh{
color: aliceblue;
font-size: 40px;
margin-top: 0px;
margin-bottom: 5px;
}

.links{
color:white;
font-size: 11px;
padding-right: 2px;
}
.category-menu ul {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
font-size: 9px;
}


.size{
width: 38vw;
background-color: #1d1d1d;
margin: 0px;
 border: none;
  padding: 3px;
  margin: 0;
  box-shadow: none;  
}  



.icono-busqueda {
  background-color: rgb(118, 108, 98);
   padding: 9px 3px;              
   color:   #1d1d1d;      
   font-size: 14px;   
    
 } 

 .carrito {
    
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}
.icono-compra {

  margin: 0;
  color: honeydew; 
  /* background-color: rgb(38, 38, 38);
color: honeydew;
padding: 10px 5px;
position: relative;
 
  border: none;
  cursor: pointer; */
 
}
.badge{
position: absolute;
transform: translate(-2px , -5px);
  background-color: red;      
   color: white;                
   font-size: 10px;            
   padding: 2px 3px;           
  border-radius: 50%;         
  text-align: center;
  line-height: 1;
  font-weight: bold;  } 


.price{

font-size: 0px;
padding-left: 8px;
margin-left: 5px;
color: white;

}

.dotprice{
  position: absolute;
  top: 1px;
  right: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  content: "";

}

#precio {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
font-size: 13px;
color: white;
}


}  

@media screen and (min-width: 600px) and (max-width: 1500px){

section .containerboximg{
display: grid;
grid-template-columns:2fr 1.3fr;

}

section .imagen1{
  height: 40vh;
  background-image: 
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('./carpetamotos/41MuZZpRrxL.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
flex-direction: row;
  padding-left: 5%;
  color: white;
  font-family: Arial, sans-serif;
}

.img_kwa {
  font-size: 4rem;
 /* espacio vertical reducido */
  font-family: Arial, sans-serif;
  color: white;
  line-height: 0.5;
}
section .imagen2{
display: flex;
flex-direction: row;
background-image: url(./carpetamotos/man-is-riding-a-dirt-bike-through-a-cloud-of-dust-concept-of-excitement-and-adrenaline-as-the-rider-navigates-the-challenging-terrain-free-photo.jpg);
background-size: cover;
background-position: center;
align-items: flex-end;
color: white;
padding-left: 10px ;
}
header .box1{
display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 20px;

}


.links{
color:white;
font-size: 14px;
padding-right: 4px;
}



header .box2{
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-left: 25px;


}

.size{
width: 20vw;
background-color: #1d1d1d;
margin: 0px;
 border: none;
  padding: 3px;
  margin: 0;
  box-shadow: none;  
} 



.icono-busqueda {
  background-color: rgb(118, 108, 98); /* color de fondo */
  padding: 9px 3px;              /* espacio interno */
  color:   #1d1d1d;       /* color del ícono */       /* forma circular */
  font-size: 14px;   
      /* tamaño del ícono */
}

.carrito {
  background: none;
  border: none;
  padding: 0px;
  margin: 10px;
margin-left: 20px;
  box-shadow: none;
}
.icono-compra {
padding: 10px 5px;
  margin: 5px;
  color: honeydew; /* o el que tú necesites */
  /* background-color: rgb(38, 38, 38);
color: honeydew;
padding: 10px 5px;


}
.badge{
position: absolute;
transform: translate(-2px , -5px);
  background-color: red;       /* Fondo rojo */
  color: white;                /* Número blanco */
  font-size: 10px;             /* Súper pequeño */
  padding: 2px 3px;            /* Espaciado interno */
  border-radius: 50%;          /* Hace que sea redonda */             /* Tamaño mínimo para que sea circular */
  text-align: center;
  line-height: 1;
  font-weight: bold;
}


.price{

font-size: 0px;
padding-left: 8px;
margin-left: 20px;
color: white;
padding-top: 8px;

}

.dotprice{
  position: absolute;
  top: 2px;
  right: 0;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  content: "";

}

#precio {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
font-size: 20px;
color: white;
align-self: center;

}

.seccion-categorias {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem;
  background-color: #111;
  box-sizing: border-box;
flex-wrap: wrap; 
max-height: 200px;
}



.categoria img {
  width: 120%;
  height: 150px;
  object-fit: cover;
  display: block;
  filter: brightness(60%);
  
}

.category-menu {
  background-color: #1d1d1d; /* fondo oscuro */
  padding: 10px 0;
}

.category-menu ul {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
font-size: 15px;
}

.categoria h3 {
  position: absolute;
  top: 45px;
  left: 45%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  word-spacing: 0px;
  text-shadow: rgba(22, 21, 21, 0);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  text-transform: capitalize;
  width: 90%;
  margin: 0;
  text-align: left;

}

.color{
position: absolute;
top: 120px;
left: -5px;
border-radius: 50%;
border-color:rgb(68, 61, 53);;
background-color:rgb(68, 61, 53);
}

.estilos p {
  color: white;
  font-size: 13px;
}


.productos{
background-color: #111;

}
.containerproductos{
display: grid;
grid-template-columns: repeat(4, 1fr);
max-width: 100%;
overflow-y: hidden;

}
.desproducts1 {
  display: flex;
margin-left: -35px;
margin-top: -30px;  


}

.product-card {
 width:20vw;
  background-color:#111;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.product-card img {
  width: 100%;

}

.estilos {
padding: 4px;
  text-align: left;
background-color: rgb(220, 55, 69);
margin-top: -5px;

}



.precio {
  font-weight: bold;
  color: #e60000;
font-size: 15px;
}
.producttexto{
color: aliceblue;
font-size: 8px;
}
#colorspan{
color: red;

}

.desproducts2 {
  display: flex; 
margin-left: -65px;
margin-top: -30px; 

}


.desproducts3 {
  display: flex; 
margin-left: -65px;
margin-top: -30px; 
}


.desproducts4 {
  display: flex; 
margin-left: -60px;
margin-top: -30px; 
}


}

